DB_VENDOR=postgres
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PASSWORD=

SECRET_JWT=
COOKIE_SECRET=

REACT_APP_FRONT_URL=
REACT_FRONT_URL=

PLAGE_ENV=
REACT_APP_PLAGE_ENV=

APP_NAME=
APP_URL=

PORT=5001

EMAIL_HOST=
EMAIL_SMTP_PORT=
EMAIL_ACCOUNT=
EMAIL_PWD=
EMAIL_INTERNAL_API_KEY=

DEBUG=

POSTGRES_SSL=false